101   ICON    DISCARDABLE     "main.ico"


202 ICON DISCARDABLE "psave.ico"
203 ICON DISCARDABLE "pend.ico"
204 ICON DISCARDABLE "wload.ico"
205 ICON DISCARDABLE "wsave.ico"
206 ICON DISCARDABLE "obox.ico"
207 ICON DISCARDABLE "make.ico"
208 ICON DISCARDABLE "run.ico"
209 ICON DISCARDABLE "search.ico"
210 ICON DISCARDABLE "search2.ico"
211 ICON DISCARDABLE "help.ico"
212 ICON DISCARDABLE "runx.ico"

213 ICON DISCARDABLE "bi4.ico"
214 ICON DISCARDABLE "bi13.ico"
215 ICON DISCARDABLE "bi15.ico"
216 ICON DISCARDABLE "bi16.ico"
217 ICON DISCARDABLE "bi17.ico"
218 ICON DISCARDABLE "bi18.ico"
219 ICON DISCARDABLE "bi19.ico"
220 ICON DISCARDABLE "bi23.ico"
221 ICON DISCARDABLE "bi24.ico"
222 ICON DISCARDABLE "bi25.ico"
223 ICON DISCARDABLE "endbtn.ico"
224 ICON DISCARDABLE "ope.ico"
225 ICON DISCARDABLE "wcreate.ico"
226 ICON DISCARDABLE "wtrash.ico"
227 ICON DISCARDABLE "edit.ico"
228 ICON DISCARDABLE "pset.ico"
229 ICON DISCARDABLE "bi8.ico"
230 ICON DISCARDABLE "pcreate.ico"
231 ICON DISCARDABLE "pload.ico"
232 ICON DISCARDABLE "bi40.ico"
233 ICON DISCARDABLE "bi41.ico"
234 ICON DISCARDABLE "bi42.ico"
235 ICON DISCARDABLE "bi43.ico"




